/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"); */


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

.blue-gradient_text {
    @apply bg-gradient-to-r from-[#979797] to-[#070c13] bg-clip-text text-transparent;
  }

.header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
  }

  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative;
  }

  .input {
    @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .contactbtn {
    @apply text-white bg-gradient-to-r from-[#808080] to-[#292929] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }



  .block-container {
    position: relative;
    transition: 250ms;
    perspective: 500px;
  }
  
  .block-container .btn-back {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: inherit;
    height: inherit;
    transition: 250ms;
    transform-style: preserve-3d;
    transform-origin: bottom right;
    transform: rotateZ(15deg);
    will-change: transform;
    box-shadow: 16px 0 40px #e4e4e4;
  }
  
  .block-container .btn-back-red {
    background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
  }
  
  .block-container .btn-back-green {
    background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
  }
  
  .block-container .btn-back-yellow {
    background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
  }
  
  .block-container .btn-back-blue {
    background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
  }
  
  .block-container .btn-back-orange {
    background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
  }
  
  .block-container .btn-back-pink {
    background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
  }
  
  .block-container .btn-back-black {
    background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
  }
  
  .block-container .btn-front {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: inherit;
    height: inherit;
    background-color: #ffffff33;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: 250ms;
    transform-style: preserve-3d;
    transform-origin: top left;
    overflow: hidden;
  }
  
  .block-container:hover > .btn-back {
    transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
  }
  
  .block-container:hover > .btn-front {
    transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
  }

}